bidict
fasttext
gensim
HanTa
hydra-core
hydra-optuna-sweeper
jupyter
matplotlib
mlflow
nbformat
omegaconf
openai
optuna
plotly
pytorch_lightning
scikit-learn
seaborn
sentence-transformers
seqeval
tensorboardX
torch
torchtext
torchvision
tqdm
transformers==4.10.2
xgboost
